* {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/* body {
    background-color: #1F2937;
} */

.body {
    padding: 0px 40px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    flex: 1;
    align-items: center;
}

.header-links {
    font-weight: 300;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-content {
    display: flex;
    flex-direction: row;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    height: 35px;
    width: 120px;
    font-size: 16px;
    color: #F9FAF8;
}