* {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif
}

.header {
    background-color: #1F2937;
    display: flex;
}

.top-bar {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}